<section class="loader" *ngIf="!isLoading">
  <div class="book"></div>
</section>

<div *ngIf="isLoading">
  <app-header></app-header>
  <!-- Router outlet start -->
  <main>
    <section class="py-3 text-center container">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Select Categories</h1>
          <p class="lead text-muted mt-3">
            <select (change)="onSelected($event)">
              <option value="">Please Select</option>
              <option
                *ngFor="let item of categoryLists$"
                value="{{ item.id }}"
                >{{ item.name }}</option
              >
            </select>
          </p>
        </div>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="container">
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3"
          *ngIf="bookLists$"
        >
          <div *ngFor="let item of bookLists$" class="col d-flex">
            <div
              class="card card-list shadow-sm w-100"
              (click)="openModal(template, item)"
            >
              <img [src]="item.coverImageUrl" alt="" />
              <div class="card-body">
                <small class="text-muted">{{ item.category }}</small>
                <p class="card-text d-flex flex-column">
                  <span> <strong>Author:</strong> {{ item.author }} </span>
                  <span> <strong>Title:</strong> {{ item.title }} </span>
                  <span>
                    <strong>Description:</strong> {{ item.description }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Router outlet end -->

  <app-footer></app-footer>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ modalItem.title }}</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-2">
          <img [src]="modalItem.coverImageUrl" alt="" />
        </div>
        <div class="col-10">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ modalItem.author }}</h5>
              <p class="card-text">
                {{ modalItem.description }}
              </p>
              <p class="card-text">
                <small class="text-body-secondary">{{
                  modalItem.category
                }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
